.container-fluid{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-link.active{
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 10px;
}

.additional-links{
  background-color: #304674 !important;
  color: white;
}

.links{
  list-style-type: none;
  display: flex;
  padding: 10px 40px;
}

.links .nav-item{
  margin:0 20px;
  font-size: 15px;
  font-weight: 500;
}
