.container-fluid{
  width: 100%;
  min-height: 100vh;
  max-height: auto;
  padding:25px;
  overflow-x: hidden;
}

.header{
  display: flex;
}

#btn-secondary{
  background-color: 587698 !important;
  padding: 10px;
}

.card-deck{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.card {
  min-width: 16rem;
  max-width: 16rem;
  max-height: 25rem;
  min-height: 25rem;
}

@media (max-width: 767px) {
}

