<div class="container-fluid overflow-x-hidden">
  <!-- Search bar and Categories Menu -->
  <div class="header">
    <div class="input-group">
      <button
        class="btn category-btn dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="true" id="btn-secondary"
      >
        Categories
      </button>
      <ul class="dropdown-menu">
        <li routerLink="../../">
          <a class="dropdown-item">All Products</a>
        </li>
        <li
          *ngFor="let category of categoryList"
          [routerLink]="['/category', category._id]"
        >
          <a class="dropdown-item" routerLinkActive="active">{{
            category.name
          }}</a>
        </li>
      </ul>
      <input type="text" class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..."/>
      <datalist id="datalistOptions" >
        <option id="search-item" *ngFor="let category of categoryList" value="{{ category.name }}">
      </datalist>
    </div>
  </div>


  <div *ngIf="isLoading; else elseblock">
    <div class="spinner-container">
      <div class="spinner-bg">
        <div class="spinner-border text-secondary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseblock>
    <div *ngIf="productList.length === 0 else elseCardBlock">
      <div class="spinner-container">
        <h3>No product Found</h3>
      </div>
    </div>
  </ng-template>
  <ng-template #elseCardBlock>
    <div class="card-deck">
      <div *ngFor="let prod of productList">
        <!-- Card -->
        <div class="card bg-light h-100 p-4 text-dark text-center m-3">
          <div
            class="bg-image hover-overlay ripple"
            data-mdb-ripple-color="light"
          >
            <img class="card-img-top" src="https://assets-global.website-files.com/619e8d2e8bd4838a9340a810/64c590c754d6bc13ebd90cbc_ai_product_photo_styles.webp " alt="Image not found" />
            <a href="#!">
              <div
                class="mask"
                style="background-color: rgba(251, 251, 251, 0.15)"
              ></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ prod["name"] }}</h5>
            <p class="card-text">Rs. {{ prod["price"] }}</p>
          </div>
          <div class="mt-auto">
            <a class="btn btn-primary" [routerLink]="['product/', prod._id]">View</a>&nbsp;&nbsp;&nbsp;
            <a class="btn btn-success">Add to Cart</a>
          </div>
        </div>
        <!--End Card -->
      </div>
    </div>
  </ng-template>
</div>
